# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://mohsinahmed22022_db_user:yuvZGEcoRfoF59y0@cluster0.nowelpm.mongodb.net/evergain_avenue?appName=Cluster0

# JWT — Admin
ADMIN_JWT_SECRET=evergain_and_sayem_and_yousuf
ADMIN_JWT_EXPIRE=1d

# JWT — Customer
CUSTOMER_JWT_SECRET=replace_with_a_different_long_random_secret_for_customers
CUSTOMER_JWT_EXPIRE=7d

# SSLCommerz
SSLCOMMERZ_STORE_ID=your_store_id
SSLCOMMERZ_STORE_PASS=your_store_password
SSLCOMMERZ_IS_LIVE=false

# Cloudinary (for gallery uploads)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Frontend URL (for CORS + SSLCommerz redirect URLs)
FRONTEND_URL=http://localhost:3000
